/* cores e estilos globais */
:root {
  --XS-Fsize: 1rem;
  --small-Fsize: 18px;
  --medium-Fsize: 26px;
  --mobile-small-Fsize: 18px;
  --mobile-large-Fsize: 42px;
  --mobile-XL-Fsize: 45px;

  --desktop-small-Fsize: 24px;
  --desktop-medium-Fsize: 1.6rem;
  --desktop-large-Fsize: 4.375rem;
  --desktop-XL-Fsize: 88px;

  --primary-color: #A8A8A8; /* Silver */
  --neutral-color: #1B1F23; /* Eerie black */
  --accent-color: #4E9AFE; /* Cornflower blue */
  --pastel-color: #6759b612; /* Purpureus */
}

:root.light-mode {
  /* Variáveis para o modo claro */
  --primary-color: #1f1f1f;
  --neutral-color: #E6E6E6;
  --accent-color: #4E9AFE;
  --pastel-color: #6759b612;
}

html, body {
  transition: background-color 0.7s, color 0.7s;
}

/* Reset de estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 40px);
  height: 100%;
}

/* Estilos gerais do corpo */
body {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  padding-top: 4.6rem;
}

/* Container principal */
.main-wrapper {
  --main-wrapper-max-width: 1024px;
  --main-wrapper-padding: 10%;
  width: 100%;
  max-width: var(--main-wrapper-max-width);
  margin-inline: auto;
  padding-inline: var(--main-wrapper-padding);
}

/* Espaçamento entre seções */
section {
  margin-top: 10rem;
  padding-inline: 1rem;
  width: 100%;
}

/* Cabeçalhos das seções */
section .heading {
  font-size: clamp(var(--mobile-XL-Fsize), 8vw, var(--desktop-XL-Fsize));
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 1rem;
  opacity: 0;
}

/* Botão de toggle para modo escuro */
button#darkModeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #828282;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgb(10, 10, 10);
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
}

button#darkModeToggle:hover {
  background-color: var(--pastel-color);
  transform: scale(1.1);
}

button#darkModeToggle i {
  transition: color 0.3s ease;
}

/* Ícone no modo escuro */
body.dark-mode button#darkModeToggle {
  background-color: #ffffff;
  color: var(--neutral-color);
}

body.dark-mode button#darkModeToggle:hover {
  background-color: var(--accent-color);
}

a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 1024px+ */
@media (min-width: 1024px) {
  .main-wrapper {
    max-width: 1100px;
    padding-left: 350px; /* Move o conteúdo para direita */
  }

  section {
    margin-top: 10rem;
  }

  section .heading {
    font-size: 2.8rem;
  }

  main {
    column-gap: 6rem;
  }
}

/* 1440px+ */
@media (min-width: 1440px) {
  .main-wrapper {
    max-width: 1200px;
    padding-left: 370px; /* Ajusta melhor o conteúdo */
  }

  section .heading {
    font-size: 3.5rem;
  }

  main {
    column-gap: 8rem;
  }
}

/* 768px - 1023px (Tablets e dispositivos médios) */
@media (max-width: 1023px) and (min-width: 768px) {
  .main-wrapper {
    padding-inline: 2rem;
  }

  section {
    padding-inline: 2rem;
  }

  button#darkModeToggle {
    font-size: 1.2rem;
    width: 45px;
    height: 45px;
  }
}

/* 600px - 767px (Tablets pequenos) */
@media (max-width: 767px) and (min-width: 600px) {
  .main-wrapper {
    padding-inline: 1.5rem;
  }

  section {
    margin-top: 8rem;
    padding-inline: 1rem;
  }

  button#darkModeToggle {
    font-size: 1rem;
    width: 40px;
    height: 40px;
  }
}

/* 321px - 599px (Celulares médios) */
@media (max-width: 599px) and (min-width: 321px) {
  .main-wrapper {
    padding-inline: 1.2rem;
  }

  section {
    margin-top: 6rem;
    padding-inline: 0.8rem;
  }
  button#darkModeToggle {
    display: none;
  }
}

/* 320px e menores (Celulares pequenos) */
@media (max-width: 320px) {
  .main-wrapper {
    padding-inline: 1rem;
  }

  section {
    margin-top: 6rem;
    padding-inline: 0.5rem;
  }
  button#darkModeToggle {
    display: none;
  }
}
