/* Definição das variáveis globais no :root */
:root {
  --text-color: #000; /* Cor do texto no modo claro (preto) */
  --text-color-dark: #fff; /* Cor do texto no modo escuro (branco) */
}

/* Estilos para o modo claro */
:root.light-mode {
  --text-color: #000; /* Preto no modo claro */
}

/* Estilos para o modo escuro */
body.dark-mode {
  --text-color: #fff; /* Branco no modo escuro */
}


/* Seção de gráficos */
.knowledge-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  padding: 20px;
  opacity: 0;
  animation: charts-entry 1s ease-out forwards; /* Aplica a animação */
}

/* Contêiner dos gráficos */
.chart-container {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  opacity: 0;
  animation: chart-item-entry 1s ease-out forwards;
  animation-delay: 0.3s;
}

/* Texto abaixo dos gráficos */
.chart-container p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  /* A cor do texto muda dependendo do modo */
  color: var(--text-color); /* Utiliza a variável --text-color */
}

/* Animação de entrada para a seção de gráficos */
.knowledge-charts.animate {
  animation: charts-entry 1s ease-out forwards;
}

/* Animação de entrada para cada gráfico individual */
.chart-container.animate {
  animation: chart-item-entry 1s ease-out forwards;
  animation-delay: 0.3s;
}

/* Responsividade para laptops (1024px) */
@media (max-width: 1025px) {
  .knowledge-charts {
    grid-template-columns: repeat(1, 35rem); /* Ajusta para duas colunas */
    gap: 20px; /* Espaçamento entre os gráficos */
  }

  .chart-container {
    width: 200px; /* Tamanho ligeiramente menor */
    height: 200px;
  }

  .chart-container p {
    font-size: 1.5rem; /* Mantém o tamanho do texto legível */
  }
}


/* Telas menores (768px ou menos): 2 gráficos por linha */
@media (max-width: 768px) {
  .knowledge-charts {
    grid-template-columns: repeat(2, 1fr); /* Ajusta para duas colunas */
    gap: 15px; /* Reduz o espaçamento entre os gráficos */
  }

  .chart-container {
    width: 180px; /* Ajusta o tamanho dos gráficos */
    height: 180px;
  }

  .chart-container p {
    font-size: 0.9rem; /* Reduz o tamanho do texto */
  }
}

/* Telas muito pequenas (480px ou menos): 1 gráfico por linha */
@media (max-width: 480px) {
  .knowledge-charts {
    grid-template-columns: 1fr; /* Apenas uma coluna */
    gap: 10px; /* Menor espaçamento entre os gráficos */
  }

  .chart-container {
    width: 150px; /* Tamanho reduzido para gráficos menores */
    height: 150px;
  }

  .chart-container p {
    font-size: 0.8rem; /* Ajusta o tamanho do texto para telas pequenas */
  }
}