/* Estilos e animações para a seção de habilidades */
#skills-section .heading {
  margin-bottom: 2rem;
  word-wrap: break-word; 
  color: #5B6066;
}

body.dark-mode #skills-section .heading {
  margin-bottom: 2rem;
  color: #6893CC;
}

#skills-section button {
  color: var(--primary-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  font-size: calc(var(--XS-Fsize) - 0.3rem);
  border-radius: 5px;
  border: none;
  background-color: transparent;
  margin-bottom: 1.1rem;
  cursor: pointer;
}

#skills-section button.selected {
  opacity: 1;
  color: var(--accent-color);
  background-color: #02878e34;
  font-size: calc(var(--XS-Fsize) - 0.2rem);
}

/* Layout da seção de habilidades em grid */
#skills-section .skills-container.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 65%;
  margin-right: 10rem;
}

#skills-section .skills-container.tools-skills {
  display: none;
}

#skills-section .skills-container .skill {
  font-size: var(--XS-small-Fsize);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.7rem;
  transition: 0.2s;
  cursor: pointer;
  width: 450px;
  /* Largura fixa dos cards */
  height: 60px;
  /* Altura fixa dos cards */
}

#skills-section .skills-container .skill .icon {
  max-width: 1.5rem;
}

#skills-section .skills-container .skill p {
  font-size: var(--XS-Fsize);
  color: #000000;
  transition: all 0.5s ease;
}

/* Efeito de hover nos itens de habilidades */
#skills-section .skills-container .skill:hover {
  background-color: #00acb577;
}

#skills-section .skills-container.database-skills {
  display: none;
}


/* Light Mode */
body.light-mode #skills-section .skills-container .skill p {
  font-weight: 500;
  /* Peso mais leve no modo claro */
  text-shadow: none;
  /* Sem sombra */
}

body.light-mode #skills-section .skills-container .skill:hover {
  background-color: #e0f7fa;
  /* Azul claro */
  color: #00a8ae;
  /* Azul escuro no hover */
}

/* Dark Mode */
body.dark-mode #skills-section .skills-container .skill p {
  color: #d3d3d3;
  /* Cinza claro para contraste */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  /* Adicionar sombra para legibilidade */
}

body.dark-mode #skills-section .skills-container .skill:hover {
  background-color: #004d40;
  /* Verde escuro no hover */
  color: #ffffff;
  /* Texto branco */
}


/* Ajustes para telas menores que 1024px */
/* Responsividade */

@media (min-width: 1440px) {
  

  #skills-section .skills-container.d-grid {
    width: 80%;
    margin-left: -120px; /* Força os cards a irem para a esquerda */
  }
}

@media (max-width: 1024px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    width: 50%; 
    margin-left: 50px;

    display: flex;
    justify-content: flex-start;
    padding-right: 300px; /* Move a seção forçadamente para a esquerda */

  }
}

@media (max-width: 768px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 0rem;
    width: 60rem;
  }

  #skills-section .skills-container .skill {
    width: 100%;
  }
}

@media (max-width: 426px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 42rem;

    grid-template-columns: repeat(1, 1fr);
  }

  #skills-section .skills-container .skill {
    width: 100%;
    height: auto; /* Ajuste de altura para telas menores */
  }
}


/* Ajustes para telas muito pequenas (320px) */
@media (max-width: 320px) {
  #skills-section .heading {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    font-size: 1.2rem; 
    white-space: normal; 
  }

  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 10%;
    align-items: center;
    justify-items: center;
    width: 50%;
    margin-left: 0rem;
  }

 
}

@media (max-width: 376px) {
  #skills-section .heading {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    font-size: 1.2rem; 
    white-space: normal; 
  }

  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 2rem;
    align-items: center;
    justify-items: center;
    width: 38rem;
    margin-left: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }

 
}