/* Estilos e animações para a seção de habilidades */
#skills-section .heading {
  margin-bottom: 2rem;
}

#skills-section button {
  color: var(--primary-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  font-size: calc(var(--XS-Fsize) - 0.3rem);
  border-radius: 5px;
  border: none;
  background-color: transparent;
  margin-bottom: 1.1rem;
  cursor: pointer;
}

#skills-section button.selected {
  opacity: 1;
  color: var(--accent-color);
  background-color: #00acb534;
  font-size: calc(var(--XS-Fsize) - 0.2rem);
}

/* Layout da seção de habilidades em grid */
#skills-section .skills-container.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas por padrão */
  gap: 10px;
}

#skills-section .skills-container.tools-skills {
  display: none;
}

#skills-section .skills-container .skill {
  font-size: var(--XS-small-Fsize);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 0.7rem;
  transition: 0.2s;
  cursor: pointer;
  width: 200px; /* Largura fixa dos cards */
  height: 60px; /* Altura fixa dos cards */
}

#skills-section .skills-container .skill .icon {
  max-width: 1.5rem;
}

#skills-section .skills-container .skill p {
  font-size: var(--XS-Fsize);
  color: var(--primary-color);
}

/* Efeito de hover nos itens de habilidades */
#skills-section .skills-container .skill:hover {
  background-color: #00acb577;
}

#skills-section .skills-container.database-skills {
  display: none;
}

/* Ajustes para telas menores que 1020px */
@media (max-width: 1020px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    gap: 15px;
  }
}

/* Ajustes para tablets (768px) */
@media (max-width: 768px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; 
    justify-items: center; 
  }

  /*fixando largura e altura dos cards para manter a mesma proporção*/
  #skills-section .skills-container .skill {
    width: 200px; 
    height: 60px; 
  }
}

/* Ajustes para telas menores que 550px */
@media (max-width: 550px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: 1fr; 
    gap: 10px;
    justify-items: center; 
  }

  #skills-section .skills-container .skill {
    width: 200px; 
    height: 60px; 
  }
}

/* Ajustes para telas muito pequenas (320px) */
@media (max-width: 320px) {
  #skills-section .skills-container.d-grid {
    grid-template-columns: 1fr; 
    justify-items: center;
  }

  #skills-section .skills-container .skill {
    width: 200px; 
    height: 60px; 
  }
}
