.journey-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.journey-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 4.5rem;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s ease;
}

.journey-timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    width: 45%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Hover para a animação ao passar o mouse no card*/
.timeline-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.timeline-item h3 {
    color: #007bff;
    margin-bottom: 10px;
}

.timeline-item p {
    color: #555;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 55%;
}

.timeline-item::after,
.timeline-item.left::before,
.timeline-item.right::before {
    content: '';
    position: absolute;
}



.timeline-item.left::before,
.timeline-item.right::before {
    width: 0;
    height: 0;
    top: 22px;
    border: 10px solid transparent;
}

.journey-timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background: linear-gradient(to bottom, #007bff, #00b4d8);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}

/*Bolinha do timeline com os icones*/
.timeline-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    padding: 10px;
    z-index: 1;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Estilos para o modo escuro */
body.dark-mode .journey-section {
    background-color: #333;
    color: #eee;
}

body.dark-mode .journey-section h2 {
    color: #0788a2;
}

body.dark-mode .timeline-item {
    background: #444;
    border-color: #555;
}

body.dark-mode .timeline-item:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

body.dark-mode .timeline-item h3 {
    color: #00b4d8;
}

body.dark-mode .timeline-item p {
    color: #ddd;
}

body.dark-mode .timeline-item::after {
    background-color: #444;
    border-color: #00b4d8;
}

body.dark-mode .timeline-item.left::before {
    border-right-color: #555;
}

body.dark-mode .timeline-item.right::before {
    border-left-color: #555;
}

body.dark-mode .journey-timeline::before {
    background: linear-gradient(to bottom, #83a0a6, #202b37);
}

body.dark-mode .timeline-icon {
    background-color: #444;
    border-color: #00b4d8;
}






/* Responsividade Geral, tambem retirado os icones dependendo do tamanho da tela */

/* Para telas menores que 1024px  */
@media (max-width: 1024px) {
    .journey-section {
        padding: 20px;
    }

    .journey-section h2 {
        font-size: 2.5rem;
    }

    .timeline-item {
        width: 100%;
        margin: 10px 0;
    }

    .timeline-item.left,
    .timeline-item.right {
        left: 0;
    }

    .timeline-icon {
        display: none; /* Remove os ícones em telas menores que 1024px */
    }
}

/* Para telas maiores que 1024px (desktop) */
@media (min-width: 1025px) {
    .journey-section h2 {
        font-size: 4.5rem;
    }

    .timeline-item {
        width: 45%;
    }

    .timeline-icon {
        font-size: 1.5rem;
        display: flex; /* Exibe os ícones novamente em telas maiores que 1024px */
    }
}
