/* Estilos para a seção "Sobre Mim", incluindo título */
#about-section .heading {
  font-size: clamp(3.125rem, 9vw, 6.25rem);
  color: #6c757d; /* Cor no modo claro */
}

/* Adicionando estilos para o modo escuro */
body.dark-mode #about-section .heading {
  color: #e0e0e0; /* Cor do texto no modo escuro */
}

#about-section .more-about-me {
  font-size: var(--small-Fsize);
  color: #000000;
  opacity: 0.7;
  margin-bottom: 5rem;
  text-align: center;
  opacity: 0;
}

/* Estilo no modo escuro */
body.dark-mode #about-section .more-about-me {
  color: #bbbbbb; /* Cor do texto no modo escuro */
}

.years-of-doing.d-grid .clients {
  grid-column: 1 / -1;
}

#about-section .years-of-doing {
  opacity: 0;
}

#about-section .years-of-doing .years {
  font-size: clamp(3.125rem, 7vw, 4.375rem);
  line-height: 1.2em;
}

#about-section .years-of-doing p {
  font-size: var(--XS-Fsize);
  color: #ffffff;  /* Cor do texto no modo claro */
  opacity: 0.7;
}

/* Estilo no modo escuro */
body.dark-mode #about-section .years-of-doing p {
  color: #d0d0d0;  /* Cor do texto no modo escuro */
}

@media(width >= 1000px) {
  #about-section .more-about-me {
      text-align: left;
  }

  #about-section .years-of-doing .years {
      font-size: clamp(3.125rem, 7vw, 4.2rem);
      line-height: 1.2em;
  }


}

/* Responsividade para dispositivos móveis */
@media (max-width: 320px) {
  /* Aqui, você pode adicionar ajustes adicionais conforme necessário */
  .main-wrapper {
    padding: 5%;  /* Ajusta o padding para telas pequenas */
  }

  #about-section .heading {
    font-size: clamp(2rem, 7vw, 4.375rem);
  }

}

@media (max-width: 1024px) {
  /* Aqui, você pode adicionar ajustes adicionais conforme necessário */
  .main-wrapper {
    text-align: left;
  }
  #about-section .more-about-me {
    text-align: left;
    width: 70%;
    font-size: clamp(1.0rem, 2vw, 1.2rem);
  }

  #about-section .heading {
    font-size: clamp(2rem, 7vw, 4.375rem);
    text-align: left;
  }

}